<div class="container">
  <form [formGroup]="form" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" required formControlName="name" />
      <div
        *ngIf="controls.name.touched && controls.name.invalid"
        class="text-danger"
      >
        <div *ngIf="controls.name.errors.required">Name is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Thumbnail</label>
      <div *ngIf="controls.thumbnail.value as value">
        <div style="text-align: center">
          <img [src]="value" />
        </div>
      </div>
      <nxlp-uploader (fileUploadedEvent)="fileUploaded($event)"></nxlp-uploader>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea
        type="text"
        class="form-control"
        formControlName="description"
      ></textarea>
    </div>

    <div class="form-group">
      <label>Labels</label>
      <div>
        <nxlp-chips-selector
          [labels]="controls.labels.value"
          (selectedLabelsEvent)="handleSelectedLabels($event)"
        ></nxlp-chips-selector>
      </div>
    </div>

    <div class="form-group">
      <label>Due Date</label>
      <input type="date" class="form-control" formControlName="due_date" />
    </div>

    <div class="form-group">
      <label>Notes</label>
      <input type="text" class="form-control" formControlName="notes" />
    </div>
  </form>
</div>
