img {
  width: 250px;
}

label {
  font-size: small;
  font-weight: bold;
  color: lightseagreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 7px;
  padding-top: 10px;
}
