<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand">
      <span class="icon">
        <tdn-ui-icon iconColor="green" name="logo"></tdn-ui-icon>
      </span>

      <h5 (click)="goTo('/')" class="text-primary brand">Todo App</h5>
    </div>

    <ul class="nav justify-content-end actions">
      <ng-container *ngIf="showAddButton$ | async; else actionsButtons">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            (click)="goTo('add')"
            routerLink="/add"
            class="nav-link active btn btn-primary"
            aria-current="page"
            href="#"
            >Add Todo</a
          >
        </li>
      </ng-container>
      <ng-template #actionsButtons>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            (click)="goTo('/')"
            class="btn btn-primary"
            >Todos</a
          >
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
