header {
  height: 50px;
}

.brand {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}

.container-fluid {
  border-bottom: 1pz solid grey;
}

.navbar-brand {
  display: flex;
}

.nav-item {
  margin: 5px;
}

.icon {
  vertical-align: middle;
  margin-top: auto;
}

.actions {
  float: right;
  margin-top: auto;
}

.navbar {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
