<div class="container">
  <div class="row col-12">
    <ng-container *ngFor="let todo of todos$ | async">
      <div
        *ngIf="todo.data.state === (showTaskType$ | async)"
        [routerLink]="['/details', todo.data.id]"
        class="col-4 col-xs-12 col-sm-12 col-md-6 col-lg-4"
      >
        <div class="card">
          <div class="card-wrapper">
            <img
              *ngIf="todo.data.thumbnail; else imageNotFound"
              class="card-img"
              [src]="
                sanitizer.bypassSecurityTrustResourceUrl(todo.data.thumbnail)
              "
              alt="{{ todo.data.name }}"
            />
            <ng-template #imageNotFound>
              <div style="text-align: center">
                <span>Image Not Found </span>
              </div>
            </ng-template>
          </div>

          <div class="card-body">
            <div class="chipList">
              <ng-container *ngFor="let label of todo.data.labels">
                <span class="labels badge bg-secondary">{{ label.name }}</span>
              </ng-container>
            </div>

            <h4 class="card-title">{{ todo.data.name }}</h4>

            <div class="card-text">
              <p class="description">
                {{ todo.data.description }}
              </p>
            </div>
          </div>
          <div
            class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0"
          >
            <div class="views">
              <span class="icon material-icons"> calendar_today </span>
              <span class="footer-text">{{ todo.data.due_date }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
